@charset "utf-8";
/* CSS Document */

/* ---------- FONTAWESOME ---------- */
/* ---------- http://fortawesome.github.com/Font-Awesome/ ---------- */
/* ---------- http://weloveiconfonts.com/ ---------- */

@import url(http://weloveiconfonts.com/api/?family=fontawesome);

/* ---------- FONTAWESOME ---------- */

a[class*="fontawesome-"]:before,
span[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

/* ---------- GENERAL ---------- */

body {
	background: #cbd0d4;
	font-family: "Open Sans", sans-serif;
	line-height: 1.5em;
	margin: 0;
}

a { text-decoration: none; }

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.clearfix { *zoom: 1; } /* For IE 6/7 */
.clearfix:before, .clearfix:after {
	content: "";
	display: table;
}
.clearfix:after { clear: both; }

.hidden {
	display: none!important;
}

.float-left {
	position: relative;
	float: left
}

.white {
	color: #fff;
}

input[type=text],input[type=email]  {
	padding: 1em 1em;
    display: inline-block;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px #ddd;
    border-radius: 4px;
    min-width: 250px;
    vertical-align: middle;
    font-size: 1em;
    margin-bottom: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* ---------- ACCOUNT SETUP ---------- */

.account-setup {
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	width: 400px;
}

.account-setup header {
	background: #333748;
	border-radius: 10px 10px 0 0;
	padding: 24px 14px;
}

.status-progress {
	background: #ccc;
	border-radius: 3px;
	height: 6px;
	margin: 9px 0;
	position: relative;
	width: 100%;
}
.status-progress .progression {
	position: absolute!important;
	background: #43c47a;
	height: 6px;
	width: 0%;
	float: left;
	top: 0;
	z-index: 5;
}

.status-progress ul {
	position: absolute;
	top: -11px;
}

.status-progress li {
	float: left;
	margin: 0 72px;
}

.status-progress li:first-child { margin-left: 0; }
.status-progress li:last-child { margin-right: 0; }

.status-progress a {
	background: #439ec4;
	border-radius: 100%;
	border: 2px solid #eee;
	color: #fff;
	display: inline-block;
	height: 24px;
	line-height: 24px;
	position: relative;
	text-align: center;
	width: 24px;
	z-index: 10;
}

.status-progress .completed { background: #43c47a;}

.status-progress .progress-info {
	background: #1f222c;
	border-radius: 3px;
	color: #ccc;
	display: block;
	font-size: 12px;
	height: 32px;
	line-height: 32px;
	position: absolute;
	top: -48px;
	left: -68px;
	width: 160px;
}

.status-progress .progress-info:after {
	background: #1f222c;
	content: '';
	display: block;
	height: 8px;
	left: 76px;
	position: absolute;
	top: 28px;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	width: 8px;
}

.status-progress .left {
	left: 0px;
}
.status-progress .left:after {
	left: 6px;
}

.status-progress .right {
	left: -136px;
}
.status-progress .right:after {
	left: 146px;
}

.account-setup footer {
	background: #fff;
	border-radius: 0 0 10px 10px;
	height: 52px;
	padding: 24px 14px;
}

.account-setup article {
	padding: 5px;
	background: #fff;
}

.button {
	background: #439ec4;
	border-radius: 5px;
	-webkit-box-shadow: 0 2px 0 #437dc4;
	box-shadow: 0 2px 0 #437dc4;
	color: #fff;
	display: block;
	font-size: 1em;
	font-weight: bold;
	height: 2em;
	line-height: 2em;
	margin: 11px auto;
	padding: 4px 30px 4px 25px;
	width: 2em;
}

.button:hover { background: #437dc4; }

.user {
	border-radius: 10px;
	border: 2px dashed #1f222c;
	color: #1f222c;
	display: block;
	font-size: 48px;
	height: 100px;
	line-height: 100px;
	margin: 24px auto;
	text-align: center;
	width: 100px;
}

.center {
	text-align: center;
}
