a { text-decoration: none; }

.center {
  text-align: center;
}

.logo {
  width: 150px;
}

.button {
  background-color: #865EFB;
  border: .1rem solid #865EFB;
  padding: 0 2rem;
}
.button:hover, .button:focus {
  background-color: #7B4EFF;
  border: .1rem solid #7B4EFF;
  padding: 0 2rem;
}

.button-small {
  font-size: .8rem;
  height: 2.8rem;
  line-height: 2.8rem;
  padding: 0 2rem;
}

.disabled {
	background-color: #ccc;
  border: .1rem solid #ccc;
	pointer-events: none;
}

input[type='text']:focus, input[type='email']:focus {
  border: .1rem solid #865EFB;
  outline: 0;
}

.notify > h1 { margin-bottom: 20px; }

.hidden {
	display: none!important;
}

input[type='text'].illegal:focus, input[type='email'].illegal:focus{
  border: .1rem solid #red!important;
  outline: 0;
}

.red {
  color: red;
}

.clearfix {
  height: 20px;
}

/* picture placeholder */
.profilepic {
    position: relative;
    display: block;
    width: 10em;
    height: 10em;
    border: solid 0.075em #ddd;
    margin: 0 auto 0 auto;
    border-radius: 50%;
}

.remove-avatar {
  font-size: small;
}

.camera-wrap {
  transition: background 0.3s linear;
  display: block;
  font-size: 2em;
  width: 5em;
  padding-top: 5em;
  background: #eee;
  position: relative;
  border: solid 0.075em #ddd;
  margin: 0 auto 0.3em auto;
  border-radius: 50%;
}

.camera {
  display: block;
  position: absolute;
  top: 50%;
  margin-top: -0.25em;
  left: 50%;
  margin-left: -0.5em;
  font-size: 2em;
  width: 1em;
  height: 0.6em;
  background: #ababab;
  z-index: 10;
  transition: transform 0.3s linear;
}
.camera:before, .camera:after {
  position: absolute;
  display: block;
  content: "";
}
.camera:before {
  font-size: 0.5em;
  width: 0.25em;
  height: 0.125em;
  bottom: 100%;
  left: 75%;
  margin-bottom: 0.025em;
  background: #ababab;
}
.camera:after {
  transition: transform 0.3s linear;
  width: 0.3em;
  height: 0.3em;
  background: #c4c4c4;
  background: radial-gradient(ellipse at 35% 35%, #ababab 0%, #ababab 50%, #c4c4c4 50%);
  border-radius: 0.35em;
  border: solid 0.075em #ababab;
  box-shadow: 0px 0px 0px 0.05em #c4c4c4;
  left: 50%;
  margin-left: -0.2em;
  top: 50%;
  margin-top: -0.225em;
}

.camera-wrap:hover .camera {
  transform: scale(1.125);
}
.camera-wrap:hover .camera:after {
  transform: scale(1.025) rotate(-35deg);
}

/************** check sign animations **************/
@-webkit-keyframes checkmark {
    0% {
        stroke-dashoffset: 50px
    }

    100% {
        stroke-dashoffset: 0
    }
}

@-ms-keyframes checkmark {
    0% {
        stroke-dashoffset: 50px
    }

    100% {
        stroke-dashoffset: 0
    }
}

@keyframes checkmark {
    0% {
        stroke-dashoffset: 50px
    }

    100% {
        stroke-dashoffset: 0
    }
}

@-webkit-keyframes checkmark-circle {
    0% {
        stroke-dashoffset: 240px
    }

    100% {
        stroke-dashoffset: 480px
    }
}

@-ms-keyframes checkmark-circle {
    0% {
        stroke-dashoffset: 240px
    }

    100% {
        stroke-dashoffset: 480px
    }
}

@keyframes checkmark-circle {
    0% {
        stroke-dashoffset: 240px
    }

    100% {
        stroke-dashoffset: 480px
    }
}

/* other styles */
/* .svg svg {
    display: none
}
 */

#successbox > h1:before, #successbox > h1:after { background: #cad8a9; }

.inlinesvg .svg svg {
    display: inline
}

/* .svg img {
    display: none
} */

.icon-success svg path {
    -webkit-animation: checkmark 0.25s ease-in-out 0.7s backwards;
    animation: checkmark 0.25s ease-in-out 0.7s backwards
}

.icon-success svg circle {
    -webkit-animation: checkmark-circle 0.6s ease-in-out backwards;
    animation: checkmark-circle 0.6s ease-in-out backwards
}
